@tailwind base;
@tailwind components;
@tailwind utilities;


.about-page {
  background-color: #F3E8CA;
  color: #322505;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 1rem;
}
.about-page h1 {
  color: #FA802F;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.about-page ul li {
  color: #9C8B73;
}
